<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhanMemQuanLyDiemSinhVien.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=HUG\DTBHUG;Initial Catalog=73DCTT23_QLDiemSinhVien;Integrated Security=True"/>
	</connectionStrings>
 <userSettings>
  <PhanMemQuanLyDiemSinhVien.Properties.Settings>
   <setting name="tai_khoan" serializeAs="String">
    <value />
   </setting>
   <setting name="mat_khau" serializeAs="String">
    <value />
   </setting>
   <setting name="level" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="remember" serializeAs="String">
    <value>False</value>
   </setting>
  </PhanMemQuanLyDiemSinhVien.Properties.Settings>
 </userSettings>
</configuration>